<div class="container">
  <h1>Welcome to Sinatra!</h1>
  <p>write a tweet!</p>

<form name="input" action="html_form_action.asp" method="get">
Username: <input type="text" name="user">
<input type="submit" value="Submit">
</form>

<p>get some tweets</p>
<form id="fetch" name="input" action="/temp" method="post">
Username: <input type="text" name="username">
<input id='majical_unicorns' type="submit" value="Submit">
</form>
<div id="comments"></div>
</div>
